* {
    font-family: 'PT Sans', sans-serif;
}

h2, h5 {
    font-family: 'PT Serif Caption', serif;
    margin: 0;
    color: #1d1d1f;
    letter-spacing: -.005em;
}

ul.inline {
    margin: 0;
    padding:0;
    display: inline-block;
}

ul.inline li {
    display: inline;
}

ul.inline li.separator {
    margin: 0 5px;
    color: rgba(225, 225, 225, 1.0);
}

.content {
    margin: 1.5rem 0;
}

.content p:last-of-type {
    margin-bottom: 0;
}

.title {
    margin-bottom: 2.5rem !important;
}

/*@media (prefers-color-scheme: dark) {
    body {
        background: rgba(21, 21, 21, 1);
    }

    h1 {
        color: rgba(255, 255, 255, 0.85);
    }
}
*/