* {
    font-family: 'PT Sans', sans-serif;
}

h2, h5 {
    font-family: 'PT Serif Caption', serif;
    margin: 0;
    color: #1d1d1f;
    letter-spacing: -.005em;
}

.contacts {
    margin: 3em 0 0 0;
}

.contacts p {
    text-align: left;
    position: relative;
    font-weight: 400;
    margin: 1em 0;
}

.contacts ul {
    margin: 0;
    padding:0;
    display: inline-block;
    list-style: disc outside;
}

.contacts ul li {
    display: inline;
}

.contacts ul li.separator {
    margin: 0 5px;
    color: #666;
}

.link {
    text-decoration: none;
    border-bottom:  1px solid;
}

/*@media (prefers-color-scheme: dark) {
    body {
        background: rgba(21, 21, 21, 1);
    }

    h1 {
        color: rgba(255, 255, 255, 0.85);
    }
}
*/