*, body {
    font-family: 'PT Sans', sans-serif;
}

h2, h5 {
    font-family: 'PT Serif Caption', serif;
    margin: 0;
    color: #1d1d1f;
    letter-spacing: -.005em;
}

ul.inline {
    margin: 0;
    padding:0;
    display: inline-block;
}

ul.inline li {
    display: inline;
}

ul.inline li.separator {
    margin: 0 5px;
    color: rgba(225, 225, 225, 1.0);
}

.content {
    margin: 1.5rem 0;
}

.content p:last-of-type {
    margin-bottom: 0;
}

.title {
    margin-bottom: 2.5rem !important;
}

hr {
    border-color: rgba(33, 33, 33, 0.2);
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgba(0, 0, 0, 1.0);
    }

    a {
        color: rgba(255, 255, 255, 1.0);
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding-bottom: 2px;
    }
    
    a:hover {
        color: rgba(255, 255, 255, 0.6);
    }

    p, ul {
        color: rgba(255, 255, 255, 1.0);
    }

    hr {
        border-color: rgba(30, 30, 30, 1.0);
    }